<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

   <test name="chrome Test on sunskava1">
   <parameter name="browser" value="chrome" />
   <parameter name="node" value="http://10.1.13.172:5555/wd/hub" />
      <classes>
         <class name="seleniumGrid1.ParallelTesting" />
      </classes>
       </test>
   <test name="chrome test on qaipos3">
   <parameter name="browser" value="chrome" /> 
   <parameter name="node" value="http://10.1.11.97:5556/wd/hub" />  
      <classes>      
         <class name="seleniumGrid1.ParallelTesting" />
      </classes>
   </test>
  
   
</suite>